.detail-page-container {
    position: relative;
}

.addition-container {
    position: absolute;
    top: 53%;
    left: 10%;

    .addition-content-wrap {
        padding: 10px;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 20px;
        width: 50%;
    }
}